<!DOCTYPE html>
<html lang="es">
<%-include("./partials/head.ejs")%>

<body>
	<% if (usuario!= null) { %>
		<%- include("./partials/header.ejs") %>
	<% } else { %>
		<%- include("./partials/headerLogueado.ejs")%>
	<% } %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar el producto al Carrito 🛒 </h2> 
		</div>
		
	</div>
	<form method="post">
		<label class="form-label">Marca</label>
		<input type="text" class="form-control" name="marca" id="marca" />
	  
		<label>Modelo</label>
		<input type="text" class="form-control" name="modelo" id="modelo" />
	  
		<label>Descripcion</label>
		<input type="text" class="form-control" name="descripcion" id="descripcion" />
	  
		<label>Fecha de Carga</label>
		<input type="date" class="form-control" name="fecha" id="fecha" />

		<label>Imagen</label>
		<input type="file" class="form-control" name="imagenes" id="imagenes" />

		<!-- <label>Cover</label>
		<input type="file" class="form-control" name="cover" id="cover" /> -->
	  
		<button type="submit" class="btn btn-primary">Submit</button>
	  </form>
	<%-include("./partials/footer.ejs")%>
</body>
</html>
